/* RESET CSS */
@import "libs/reset.css";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* VARS */
@import "vars/colors";

/* HEADER */
@import "layouts/partials/header";

/* FOOTER */

/* LAYOUTS */
@import "layouts/landing";

@media(prefers-color-scheme: dark)
{

  html {
    scroll-behavior:smooth;

    body {
      background-color: $darkBackgroundSecondary;
    }

  }
}

@media(prefers-color-scheme: light)
{

  body {
    background-color: $lightBackgroundPrimary;
  }

}

body {
  margin:0;
  font-family: Catamaran, sans-serif;
}

