@import "responsive/mobile_header";
@import "responsive/tablet_header";
@import "responsive/desktop_header";

@media(prefers-color-scheme: dark)
{
  body > header {
    background-color: $darkBackgroundPrimary;

    button {
      background-color: transparent;
      border:none;
    }
  }
}

@media(prefers-color-scheme: light)
{
  body > header {
    background-color: $lightBackgroundSecondary;

    button {
      background-color: transparent;
      border:none;
    }
  }
}