$darkBackgroundPrimary: rgba(28, 37, 65, 1);
$darkBackgroundSecondary: rgba(58, 80, 107, 1);
$darkLink: rgba(91, 192, 190, 1);
$darkTitle: rgba(111, 255, 233, 1);
$darkText: rgba(255, 255, 255, 1);


$lightBackgroundPrimary: rgba(235, 235, 235, 1);
$lightBackgroundSecondary: rgba(255, 255, 255, 1);
$lightLink: rgba(71, 74, 255, 1);
$lightTitle: rgba(89, 92, 255, 1);
$lightText: rgba(11, 19, 43, 1);