@media(min-width: 992px)
{
  body > header {
    max-height: 7vh;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    position:fixed;
    top: 0;
    left:0;
    width:100vw;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(13, 1fr);

    button {
      grid-column: 2;

      img {
        height:7vh;
      }
    }

    nav {
      grid-column: 3/13;
      display:grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;

      ul {
        list-style: none;
        align-items: center;
        margin:0;
        padding-left:0;
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);

        @media(prefers-color-scheme: dark)
        {
          a {
            color:$darkText;
          }
        }

        @media(prefers-color-scheme: light)
        {
          a {
            color:$lightText;
          }
        }

        li {
          text-transform: uppercase;

          &:first-of-type {
            grid-column: 2;
          }

          &:nth-of-type(2) {
            grid-column: 3;
          }

          &:nth-of-type(3) {
            grid-column: 4;
          }

          &:nth-of-type(4) {
            grid-column: 5;
          }

          &:last-of-type {
            grid-column: 6;
            display:grid;
            grid-template-columns: repeat(5, 1fr);
          }

          .bi-facebook,.bi-instagram,.bi-twitter {
            font-size: 1.2rem;
          }

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              text-underline-offset: 0.5rem;
            }
          }
        }

        img {
         height: calc(7vh - 1rem);
        }
      }

    }

  }
}